@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('../font/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-geren:before {
  content: "\e606";
}

.icon-shaogouwu:before {
  content: "\e6d5";
}

.icon-dibiao:before {
  content: "\e719";
}

.icon-shoucang:before {
  content: "\e68e";
}
